// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$light-gray: #F4F4F4;


// app colours according to figma
$gray: #F0F0F0;
$dark-gray: #C7C9C7;
$orange: #FF5C00;
$green: #184F5B;