// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #ffbf00;


// app colours according to figma
$light-gray: #F4F4F4;
$medium-gray: #C7C9C7;
$dark-gray: #797979;
$orange: #FF5C00;
$lightgreen: #27A444;
$green: #184F5B;