.new-idea, .edit-idea {
    input {
        border-radius: 10px !important;
    }

    input[type=submit] {
        border-radius: 50px !important;
    }
}
.new-form-text {
    display: flex;
    flex: 1;
}
.new-idea img {
    width: 100%;
    object-fit: contain;
}

.participators-hide {
    display: none;
    transition: display, 2s;
}

.form-img {
    position: sticky;
}

.img-box-new {
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    @media  screen and (max-width: 850px) {
      display: none;
    }
}
