<section id="footer">
    <footer class="px-3">
    <div class="d-flex justify-content-around pb-md-4">
        <div>
        <h6 class="subtitle">Product</h6>
        <p>Overview</p>
        <p>Features</p>
        <p>Tutorials</p>
        <p>Procedures</p>
        <p>Releases</p>
        </div>
        <div>
        <h6 class="subtitle">Company</h6>
        <p>About</p>
        <p>Press</p>
        <p>Careers</p>
        <p>Contact</p>
        <p>Partners</p>
        </div>
        <div>
        <h6 class="subtitle">Legal</h6>
        <p>Cookies Policy</p>
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
        <p>Law Enforcement</p>
        <p>Status</p>
        </div>
        <div>
        <h6 class="subtitle">Follow us</h6>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Dribbble</p>
        <p>Instagram</p>
        <p>LinkedIn</p>
        </div>
    </div>
    <hr class="pb-4 text-light">
    <p class="text-center">&copy;2021 Votify. All right reserved</p>
    </footer>
</section>