.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  a {
    color: white;
  }

  &:hover {
    text-decoration: none;
    background-color: white;
    cursor: pointer;
  }
}

.show-declined-button {
  min-width: 90px;
}

.vote-btn {
  min-width: 142px;
  max-width: 142px;
}
