.card-show {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  background: white;
}

.show-img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.show-user {
  color: $dark-gray;
  margin: 40px 20px 20px 20px;
}

.user-feedback {
  color: $dark-gray;
}

.show-icons a {
  color: $medium-gray;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: $green;
  }
}

.show-details {
  padding-top: 20px;
  margin: 20px 20px 40px 20px;
  h1 {
    font-weight: 600;
  }
  .details-light {
    color: $dark-gray;
  }
  .details-description {
    margin-top: 40px;
  }
}

.tag {
  color: $green;
  border-bottom: 1px solid $green;
  padding-bottom: 6px;
  font-weight: 400;
}

.show-vote {
  height: 56px;
  margin: 40px 20px 20px 20px;
}

.show-goal-info {
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 1px solid $orange;
  border-radius: 4px;
  margin: 20px 40px;
  padding: 20px;
  text-align: left;
  color: $dark-gray;
}

.show-progress {
  font-size: 10em;
  margin: 20px;
  padding: 20px;
}

.container-index {
  padding-top: 200px;
}


// monica trials on the progrss bar

.progress-container {
  // margin: 20px;
  width: 150px;
  height: 150px;
  // position: relative;
}
