.card {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card-show {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  background: white;
}

.show-img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.show-user {
  color: $dark-gray;
  margin: 40px 20px 20px 20px;
}

.show-details {
  padding-top: 20px;
  margin: 20px 20px 40px 20px;
  h1 {
    font-weight: 600;
  }
  .details-light {
    color: $dark-gray;
  }
  .details-description {
    margin-top: 40px;
  }
}

.tag {
  background-color: $white;
  color: $green;
  border: 1px solid $green;
  border-radius: 20px;
  width: 12%;
  padding: 6px;
  display: flex;
  justify-content: center;
  font-weight: 400;
}
