#footer {
    background-color: $green;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h6 {
    font-size: 15px;
    padding-bottom: 10px;
}

p:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.733);
}
