<p> Would you like to add some feedback?(optional) </p>

<%= simple_form_for @vote do |f| %>
<%= f.input :comment, label: false %>

<%= f.submit "Leave Feedback", class: 'btn btn-warning py-2' %>
<% end %>
